.body{
    color:black;
    font-size:12px;
    font-family:tahoma,arial,verdana,sans-serif
}
#map {
    width: 725px;
    height: 625px;
    margin: 0;
}
.map_left { 
    float:left; 
    width:725px;
    margin:0;
    padding:0px;
}
.map_right {
    float:right;
    width:165px;
    margin:0;
    padding:10px;
}
#featurePopup2 {
    pointer-events: none;
}
